/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #79e5cc;
  background-image: linear-gradient(to bottom, #79e5cc, #5d998b 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  /*min-height: 100%;*/
  height: calc(100% - 70px);
  background: white;
}

#__blaze-root {
  height: 100%;
  /*height: calc(100% - 70px);*/
}

.display {
  padding: 50px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

main {
  height: inherit;
}

#login-buttons {
  display: block;
}

.about-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 25px;
  color: #65858e;
}

.about-page h2 {
  font-weight: bold;
}

.about-page p {
  font-size: 16px;
}

div.nav-bar {
  height: 70px;
  width: 100%;
  max-width: 600px;
  position: absolute;
  bottom: 0;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #e1e5f0, #d0edf5, 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

div.nav-bar .btn-group .btn-lg {
  padding: 0;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  border-left: 1px solid #95beca;
}

div.nav-bar .btn-group .btn-lg:focus {
  outline:0;
}

div.nav-bar .btn-group .btn-lg.first-btn {
  border-left: none;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  background: #f0f8ff;
  padding: 15px;
  position: relative;
}

form input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

form.new-food {
  /*styling for mobile*/
  height: 70px;
  position: absolute;
  bottom: 70px;
  max-width: 600px;
  width: 100%;
}

form.edit-food {
  padding: 0;
}

form.edit-food input {
  width: auto;
  padding: 0;
  padding-left: 5px;
}

form input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  /*color: #888;*/
}

li.checked .text {
  font-weight: bold;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical button {
  border-radius: 0 !important;
  text-align: left;
  padding: 15px;
}

ul span {
  padding: 15px;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}

.highlight-avoiding {
  float: right;
  margin-right: 5px;
  font-weight: normal;
}

.meal-list-container {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.meal-form-container,
.food-form-container {
  height: calc(100% - 70px);
  padding-bottom: 20px;
  overflow-y: scroll;
}

.meal-form-container button,
.food-form-container button {
  background-color: transparent;
  outline: 0 !important;
}

.meal-form-container button:focus,
.food-form-container button:focus {
  background-color: transparent;
}

button.food-is-eaten {
  background-color: #d3fff5 !important;
  border-color: #d3fff5;
}

button.food-is-eaten:focus {
  border-color: #d3fff5;
}

.meal-form-container .food-item button:hover,
.food-form-container .food-item button:hover,
.meal-form-container .food-item button:active,
.food-form-container .food-item button:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.food-container {
  padding: 20px;
}

.food-container .hammer-touch-area {
  float: left;
}

.meal .food-container {
  height: 50px;
}

.food-item {
  font-size: 1.1em;
  margin: 0 5px 10px 5px;
}

.food-item:hover {
  cursor: pointer;
}

.food-item button span {
  padding: 0;
}

.meal-submit {
  padding: 0;
}

li.meal-type {
  padding: 0;
}

.meal-type .btn-group .btn-group:not(:first-child) {
    border-left: #dddddd solid 1px;
}

.meal-type button {
  font-size: 1.1em;
  height: 50px;
  border-radius: 0;
}

.meal-type button:focus,
.meal-type button:hover,
.meal-type button.active {
  background-color: #b8e2d8;
}

.meal .meal-type {
  font-weight: bold;
}

.meal .meal-date {
  color: #888888;
  font-size: 12px;
}

.meal .meal-items {
  margin-top: 5px;
}

.meal .label-meal {
  background-color: #38927c;
  font-size: 14px;
}

button.submit-new-meal {
  background-color: #25caa4;
  height: 50px;
  width: 100%;
  border-radius: 0;
}

button.submit-new-meal:focus {
  background-color: #25caa4;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
