/* CSS declarations go here */
body {
  font-family: sans-serif;
  /*background-color: #79e5cc;*/
  /*background-image: linear-gradient(to bottom, #79e5cc, #5d998b 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  background: #d2edf4;
}

#__blaze-root {
  height: 100%;
}

.about-page.display {
  padding: 40px 50px;
  background: #b1d6e0;
  height: calc(100% - 50px);;
}

header {
  height: 50px;
  background: #d2edf4;
  /*padding: 20px 15px 15px 15px;*/
  position: relative;
}

main {
  height: calc(100% - 50px);
  /*background: white;*/
}

#login-buttons {
  display: block;
}

.about-page h2 {
  font-size: 25px;
  font-weight: bold;
  color: #5c7277;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-page p {
  font-size: 16px;
  color: #5c7277;
}

div.nav-bar {
  height: 50px;
  width: 100%;
  max-width: 600px;
  /*position: absolute;*/
  bottom: 0;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #e1e5f0, #d0edf5, 100%);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
}

div.nav-bar .btn-group .btn-lg {
  padding: 0;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  /*border-left: 1px solid #95beca;*/
}

div.nav-bar .btn-group .btn-lg:focus {
  outline:0;
}

div.nav-bar .btn-group .btn-lg.first-btn {
  border-left: none;
}

span.glyph-button {
  padding: 5px;
  background-color: #cddcde;
  border-radius: 10px;
  font-size: 10px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
  padding-left: 15px;
  padding-top: 20px;
}

form {
  background: white;
  /*background: #f0f8ff;*/
  padding: 15px;
  position: relative;
}

form input {
  box-sizing: border-box;
  padding: 10px 0;
  background: white;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

form.new-food {
  /*styling for mobile*/
  height: 70px;
  position: absolute;
  bottom: 70px;
  max-width: 600px;
  width: 100%;
}

form.edit-food,
form.add-food-form {
  padding: 0;
}

form.edit-food input {
  width: auto;
  padding: 0;
  padding-left: 1px;
}

form input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  /*color: #888;*/
}

li.checked .text {
  font-weight: bold;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical button {
  border-radius: 0 !important;
  text-align: left;
  padding: 15px;
}

ul span {
  padding: 15px;
}

.dropdown-menu {
  /*left: -40px;*/
  min-width: 140px;
  max-height: 200px;
  overflow: scroll;
}

/*li.form-title {
  background-color: #f1f1f1;
}*/

.form-title span {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}

.highlight-avoiding {
  float: right;
  margin-right: 5px;
  font-weight: normal;
}

.meal-list-container {
  height: calc(100% - 50px);
  overflow-y: scroll;
  background: white;
}

.meal-form-container,
.food-form-container {
  height: calc(100% - 50px);
  overflow-y: scroll;
  position: relative;
  background: white;
}

.meal-form-container button,
.food-form-container button,
header button.btn.btn-default {
  background-color: transparent;
  outline: 0 !important;
}

.meal-form-container button:focus,
.food-form-container button:focus {
  background-color: transparent;
}

button.food-is-eaten {
  background-color: #e3eff2 !important;
  border-color: #e3eff2;
}

button.food-is-eaten:focus {
  border-color: #e3eff2;
}

.meal-form-container .food-item button:hover,
.food-form-container .food-item button:hover,
.meal-form-container .food-item button:active,
.food-form-container .food-item button:active,
.food-item.in-basket:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.food-container {
  padding: 20px 20px 20px 20px;
}

.food-container .hammer-touch-area {
  display: inline;
}

.food-item {
  font-size: 1em;
  margin: 0 5px 10px 0;
}

.single-food-item.btn-group button {
  font-size: 1em;
  border-radius: 5px !important;
}

.meal-list-container .food-item.in-basket,
.meal-list-container .food-item.in-basket:hover,
.meal-list-container .food-item.in-basket:active {
  cursor: default;
  background-color: #e3eff2;
  border-color: #e3eff2;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.meal-list-container .food-item.remove-food,
.meal-list-container .food-item.remove-food:hover,
.meal-list-container .food-item.remove-food:active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.food-item.in-basket:focus {
  outline:0;
}

.food-item button span {
  padding: 0;
}

.meal-submit {
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding: 0;
  margin-left: auto;
}

li.meal-type {
  padding: 0 20px 20px 20px;
}

.meal-type button.active {
  background-color: #e3eff2;
}

.meal .meal-type {
  font-weight: bold;
}

.meal .meal-date {
  color: #888888;
  font-size: 12px;
}

.meal .meal-items {
  margin-top: 5px;
}

.meal .label-meal {
  background-color: #38927c;
  font-size: 14px;
}

.meal. meal-footer {
  padding: 10px;
}

button.submit-new-meal {
  background-color: #25caa4;
  height: 50px;
  width: 95%;
  border-radius: 5px;
}

button.submit-new-meal:focus {
  background-color: #25caa4;
}

button span.glyphicon {
  padding: 0;
  font-size: 12px;
}

.meal-list-container .meal .modify-button span {
  padding: 0;
}

.meal-list-container .meal .modify-button:focus,
.meal-list-container .meal .modify-button:active,
.meal-list-container .meal .modify-button:hover {
  background-color: #b2f7e7;
  border-color: #a2d8cc;
  outline: 0;
}

.show-input-form {
  display: block;
}

.hide-input-form {
  display: none;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
