ul.notifications {
  /*max-width: 480px;*/
  /*width: 100%;*/
/*  margin-left: 10px;
  margin-right: 10px !important;*/
  bottom: 80px;
  top: auto !important;
  right: auto !important;
  background: transparent;
}

ul.notifications li {
  width: 95%;
  border-radius: 5px;
}

li.notification.error {
  background-color: #ffa7a3;
  color: #906565;
}

li.notification.success {
  background-color: #92f9d2;
  color: #4b8e75;
}

@media (max-width: 500px) {
  ul.notifications {
    width: 100%;
  }
  ul.notifications li {
    width: 95%;
  }
}
