ul.notifications {
  /*max-width: 480px;*/
  /*width: 100%;*/
/*  margin-left: 10px;
  margin-right: 10px !important;*/
  bottom: 80px;
  top: auto !important;
  right: auto !important;
}

ul.notifications li {
  width: 95%;
}

@media (max-width: 500px) {
  ul.notifications {
    width: 100%;
  }
  ul.notifications li {
    width: 95%;
  }
}
